*{padding: 0; margin: 0;}
ul{ list-style: none; }
a{ text-decoration: none;}

/*가로메뉴-스타일*/

#left{
    float: left;
    width: 40%;
    margin-left: 3%;
}

#right{
    float: right;
    width: 40%;
    margin-right: 3%;
}

.menu{
    /* width: 600px;  */
    overflow: hidden;  
    margin: 0 auto;
   }
   
   .menu>li{
       width: 20%;   /*20*5=100%*/
       float: left;  
       text-align: center; 
       line-height: 40px;
       /* background-color: #5778ff; */
       border-top: 1px solid;
   }
   
   .menu a{
       color: black;
   }
   
   .submenu>li{
       line-height: 50px;  
       background-color: rgba(52, 200, 133, 0.289);
   }
   
   .submenu{
       height: 0;  /*ul의 높이를 안보이게 처리*/
       overflow: hidden;  
   }
   
   .menu>li:hover{
        background-color: #94fbff4a;  
        transition-duration: 0.5s;
   }

   .submenu>li:hover{
        background-color: rgba(186, 190, 189, 0.4);
   }
   
   
   .menu>li:hover .submenu{
       height: 250px;   /*서브메뉴 li한개의 높이 50*5*/
       transition-duration: 1s;
   }
   
   #main{
    width: 100%;
    min-height: 540px;
    /* background-image: url(../img/main.jpg); */
    background-size: 100%;
    background-repeat: no-repeat;

}

   
   